body {
  font-family: Arial, sans-serif;
  background-color:lightblue;
  margin: 0;
  padding: 0;
}
p {
  font-weight: 600;
  font-size: 18px;
  color: #1f2933;
}

.container {
  width: 60%;
  margin: 50px auto;
  background-color: lightblue;
  padding: 40px;
  border-radius: 8px;
}

.name {
  text-align: center;
  font-size: 36px;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: #111;
  margin-bottom: 40px;
}

section {
  margin-bottom: 30px;
}

h2 {
  border-bottom: 2px solid darkblue;
  padding-bottom: 5px;
}

ul {
  padding-left: 20px;
}

li {
  font-weight: 600;
  font-size: 17px;
  color: #374151;
}
